{% extends 'base.html' %}

{% block content %}
<div class='container'>
    <div class="row justify-content-center" style="height: 100px;">
        <p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md">
            <a class="btn btn-info btn-sq-lg" href="{% url 'xml_upload' %}">
                <div><i class="fas fa-upload fa-7x"></div></i><h4>Upload XML</h4></a>
            </form>
        </div>
        <div class="col-md">
            <a class="btn btn-info btn-sq-lg" href="{% url 'xml_fetch' %}">
                <div><i class="fas fa-cloud-download-alt fa-7x"></div></i><h4>Fetch XML</h4></a>                
            </form>
        </div>
   </div>
</div>
    <div class="row justify-content-center pt-5 text-info"><h6><a class='text-info' href="{% url 'xml_tags' %}">View supported formats and tag configurations</a></h6>
   </div>

  
 </button>
{% endblock %}


