{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="page-header" style="padding-bottom: 50px;">
        <h1>Format is:</h1>
    </div>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ urlform.as_p }}
                 
         {% if format_valid not in 'zap,gaia,lopes' %}
             <h3 class='warning'>Unknown!</h3>
             <i class="fas fa-question-circle fa-7x"  style="color:#ffc107;"></i>
         {% elif format_valid == "zap" %}
            <img src="{% static 'images/zap-logo.png' %}" style="height:100px;" />
            <div style="padding-top: 50px;">
                <button type="submit" class="btn btn-info btn-lg">Create XML profile</button>   
            </div>
         {% elif format_valid == "gaia" %}
             <img src= "{% static 'images/gaia-logo.png' %}" style="height:100px;" />
             <div style="padding-top: 50px;">
            <button type="submit" class="btn btn-info btn-lg">Create XML profile</button>   
        </div>
        {% elif format_valid == "lopes" %}
            <img src="{% static 'images/lopes-logo.png' %}" style="height:80px;" />
            <div style="padding-top: 50px;">
                <button type="submit" class="btn btn-info btn-lg">Create XML profile</button>   
            </div>
         {% else %}
             <p>
         {% endif %}
         
    </form>


     <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
